.todo {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    max-width: 450px;
    margin: 0 auto;
    min-width: 300px;

    @at-root &__list {
        list-style: none;
        margin: 0;
        padding: 0;

        @at-root &--empty {
            align-items: center;
            background-color: rgba($black, .02);
            border-radius: 10px;
            color: lighten($grey, 40%);
            display: flex;
            justify-content: center;
            height: 50vh;
            margin-bottom: 20%;
            
            &:before {
                content: 'Add a Task';
                font-size: 2em;
            }
        }

        @at-root &-item {
            align-items: center;
            border-radius: 10px;
            box-shadow: 0 0 8px lighten($grey, 15%);
            display: flex;
            justify-content: space-between;
            padding: 20px;
            margin: 10px 0;
            transition: all .2s linear;

            &:hover {
                @at-root & .todo__list-item-svg {
                    opacity: 1;
                }
            }

            @at-root &-svg {
                fill: lighten($grey, 30%);
                opacity: 0;
                stroke: $red;
                transition: opacity .2s linear;
                width: 20px;
            }

            @at-root &--done {
                box-shadow: 0 0 8px lighten($grey, 25%);
                opacity: .8;
                color: lighten($grey, 40%);
                text-decoration: line-through;
                transform: scale(.98);
            }
        }
    }

    @at-root &__add-task {
        border: none;
        border-radius: 100%;
        box-shadow: 0 0 10px lighten($grey, 15%);
        bottom: 35px;
        cursor: pointer;
        height: 50px;
        padding: 0;
        position: fixed;
        right: 20px;
        transition: .2s all ease-in-out;
        width: 50px;
        
        &:hover {
            transform: scale(.95);

            @at-root  & > .todo__add-task-svg {
                fill: darken($primary-color, 10%);
            }
        }

        @at-root &-svg {
            border-radius: 100%;
            fill: $primary-color;
        }
    }

    @at-root &__dialog {
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba($grey, .7);
        padding: 40px;
        top: 20%;
        transition: visiblity 1s, opacity 2s linear;
        visibility: visible;

        &:not([open]) {
            opacity: 0;
            visibility: hidden;
        }

        &::backdrop {
            background-color: rgba($grey, .4);
        }

        @at-root &-form {
            display: flex;
            flex-direction: column;
        }

        @at-root &-label {
            font-size: 20px;
            margin-bottom: 5px;
        }

        @at-root &-input {
            border: none;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba($grey, .5);
            font-family: $primary-font;
            padding: 15px 10px;

            @at-root &:active, &:focus {
                outline: 1px solid $primary-color;
            }
        }

        @at-root &-cancel, &-confirm {
            appearance: none;
            border: none;
            border-radius: 10px;
            font-family: $primary-font;
            padding: 10px 25px;
        }

        @at-root &-confirm {
            @include buttonColors($green, $black);
        }

        @at-root &-cancel {
            @include buttonColors($red, $white);
        }

    }
}